<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title> Amoogli web publishing and communication plateform. </title>
        <meta name="description" content="">
        <meta name="author" content="">
         <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- #CSS Links -->
        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="/static/admin/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/static/admin/css/font-awesome.min.css">

        <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
        <link rel="stylesheet" type="text/css" media="screen" href="/static/admin/css/smartadmin-production.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/static/admin/css/smartadmin-skins.min.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css">
        <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
        <link rel="stylesheet" type="text/css" media="screen" href="/static/admin/css/demo.min.css">

        <!-- #FAVICONS -->
        <link rel="shortcut icon" href="/static/admin/img/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/admin/img/favicon/favicon.ico" type="image/x-icon">

        <!-- #GOOGLE FONT -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

        <link rel="apple-touch-icon" href="/static/admin/img/splash/sptouch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/admin/img/splash/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/admin/img/splash/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/admin/img/splash/touch-icon-ipad-retina.png">

        <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Startup image for web apps -->
        <link rel="apple-touch-startup-image" href="/static/admin/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
        <link rel="apple-touch-startup-image" href="/static/admin/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="/static/admin/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

        <!--these link for crop image only-->
        <link rel="stylesheet" type="text/css" href="/static/admin/css/style12.css" />
        <link rel="stylesheet" type="text/css" href="/static/admin/css/style-example.css" />
        <link rel="stylesheet" type="text/css" href="/static/admin/css/jquery.Jcrop.css" />
        <!--custom crop image JS-->
       <script type="text/javascript" src="/static/admin/js/jquer.Jcrop.js" ></script>
       <script type="text/javascript" src="/static/admin/js/jquery.SimpleCropper.js"></script>
    <!--end crop image-->
    <script src="/static/admin/js/plugin/delete-table-row/delete-table-row.min.js"></script>
    <script src="/static/admin/js/plugin/select2/select2.min.js"></script>
    <script src="/static/admin/js/plugin/summernote/summernote.min.js"></script>
</head>
    <body class="">
        <!-- HEADER -->
        <header id="header">
            <div id="logo-group">
                <!-- PLACE YOUR LOGO HERE -->
                <span id="logo"> <img src="/static/admin/img/logo.png" alt="SmartAdmin"> </span>
                <!-- END LOGO PLACEHOLDER -->
            </div>
            <!-- end projects dropdown -->
            <!-- pulled right: nav area -->
            <div class="pull-right">
                <!-- collapse menu button -->
                <div id="hide-menu" class="btn-header pull-right">
                    <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
                </div>
                <!-- end collapse menu -->
                <!-- Top menu profile link : this shows only when top menu is active -->
                <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
                    <li class="">
                        <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown"> 
                            <img src="/static/admin/img/avatars/sunny.png" alt="{{ logined_name }} " class="online" />  
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
                            </li>
                            <li class="divider"></li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/admin/logout" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- logout button -->
                <div id="logout" class="btn-header transparent pull-right">
                    <span> <a href="/admin/logout" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
                </div>
                <!-- end logout button -->
                <!-- search mobile button (this is hidden till mobile view port) -->
                <div id="search-mobile" class="btn-header transparent pull-right">
                    <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
                </div>
                <!-- end search mobile button -->
                <!-- input: search field -->
                <form action="/admin/search/" class="header-search pull-right">
                    <input id="search-fld"  type="text" name="q" required="" value="{{search}}" placeholder="Find your posts here" data-autocomplete='[
                    "Amoogli""]'>
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
                </form>
                <!-- end input: search field -->
                <!-- fullscreen button -->
                <div id="fullscreen" class="btn-header transparent pull-right">
                    <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
                </div>
                <!-- end fullscreen button -->    
            </div>
            <!-- end pulled right: nav area -->
        </header>
        <!-- END HEADER -->
        <!-- Left panel : Navigation area -->
        <!-- Note: This width of the aside area can be adjusted through LESS variables -->
        <aside id="left-panel">
            <!-- User info -->
            <div class="login-info">
                <span> <!-- User image size is adjusted inside CSS, it should stay as it --> <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut"> <img src="/static/admin/img/avatars/sunny.png" alt="me" class="online" /> <span> {{ logined_name }} </span> </a> </span>
            </div>
            <!-- end user info -->
            <nav>
                <ul>
                    <li class="active">
                        <a href="/" title="View Site"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">View Site</span></a>
                    </li>
                    <li class="active">
                        <a href="/admin" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
                    </li>
                    <li class="">
                        <a href="#"><i class="fa fa-lg fa-fw fa-tasks"></i> <span class="menu-item-parent">Manage</span></a>
                        <ul>
                            <li>
                                <a href="/admin/post">Post</a>
                            </li>
                            <li>
                                <a href="/admin/page">Page</a>
                            </li>
                            <li>
                                <a href="/admin/category">Category</a>
                            </li>
                            <li>
                                <a href="/admin/event">Event</a>
                            </li>
                            <li>
                                <a href="/admin/booking">Booking</a>
                            </li>
                            <li>
                                <a href="/admin/contact">Contact</a>
                            </li>
                            <li>
                                <a href="/admin/partner">Partner
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                    <li class="">
                        <a href="#"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Setting</span></a>
                        <ul>
                            <li>
                                <a href="/admin/template">Template</a>
                            </li>
                            <li>
                                <a href="/admin/limit">Limit Post
                                </a>
                            </li>
                            <li class="">
                                <a href="/admin/menu">Menu</a>
                            </li>
                            <li class="">
                                <a href="/admin/social">Social</a>
                            </li>
                            <li class="">
                                <a href="/admin/earn">Earn Money</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="/admin/email"><i class="fa fa-lg fa-fw fa-envelope-o"></i> <span class="menu-item-parent">Email</span></a>
                    </li>
                    
                </ul>
            </nav>
            <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

        </aside>
        <!-- END NAVIGATION -->

<!--================================================== -->
        <script>
            if (!window.jQuery) {
                document.write('<script src="/static/admin/js/libs/jquery-2.0.2.min.js"><\/script>');
            }
        </script>
        <script>
            if (!window.jQuery.ui) {
                document.write('<script src="/static/admin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
            }
        </script>
        <!-- IMPORTANT: APP CONFIG -->
        <script src="/static/admin/js/app.config.js"></script>
        <script src="/static/admin/js/moment.js"></script>
        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
        <script src="/static/admin/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> 
        <!-- BOOTSTRAP JS -->
        <script src="/static/admin/js/bootstrap/bootstrap.min.js"></script>
        <!-- CUSTOM NOTIFICATION -->
        <script src="/static/admin/js/notification/SmartNotification.min.js"></script>
        <!-- JARVIS WIDGETS -->
        <script src="/static/admin/js/smartwidgets/jarvis.widget.min.js"></script>
        <!-- EASY PIE CHARTS -->
        <script src="/static/admin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
        <!-- SPARKLINES -->
        <script src="/static/admin/js/plugin/sparkline/jquery.sparkline.min.js"></script>
        <!-- JQUERY VALIDATE -->
        <script src="/static/admin/js/plugin/jquery-validate/jquery.validate.min.js"></script>
        <!-- JQUERY MASKED INPUT -->
        <script src="/static/admin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
        <!-- JQUERY SELECT2 INPUT -->
        <!-- JQUERY UI + Bootstrap Slider -->
        <script src="/static/admin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
        <!-- browser msie issue fix -->
        <script src="/static/admin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
        <!-- FastClick: For mobile devices -->
        <script src="/static/admin/js/plugin/fastclick/fastclick.min.js"></script>
        <!-- MAIN APP JS FILE -->
        <script src="/static/admin/js/app.min.js"></script>
        <!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
        <!-- Voice command : plugin -->
        <script src="/static/admin/js/speech/voicecommand.min.js"></script>
        <!-- PAGE RELATED PLUGIN(S)
        <script src="..."></script>-->
        <script src="/static/admin/js/plugin/jqgrid/jquery.jqGrid.min.js"></script>
        <script src="/static/admin/js/plugin/jqgrid/grid.locale-en.min.js"></script>