
  <!-- Start Footer -->    
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-top-area">                        
              <div class="footer-social">
                <a class="facebook" href="#"><span class="fa fa-facebook"></span></a>
                <a class="twitter" href="#"><span class="fa fa-twitter"></span></a>
                <a class="google-plus" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="youtube" href="#"><span class="fa fa-youtube"></span></a>
                <a class="linkedin" href="#"><span class="fa fa-linkedin"></span></a>
                <a class="dribbble" href="#"><span class="fa fa-dribbble"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Designed by <a href="http://www.recycles.org/">Recycle.org</a></p>
    </div>
  </footer>
  <!-- End Footer -->

  <!-- initialize jQuery Library --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- Bootstrap -->
  <script src="/static/{{template_name}}/js/bootstrap.js"></script>
  <!-- Slick Slider -->
  <script type="text/javascript" src="/static/{{template_name}}/js/slick.js"></script>
  <!-- Counter -->
  <script type="text/javascript" src="/static/{{template_name}}/js/waypoints.js"></script>
  <script type="text/javascript" src="/static/{{template_name}}/js/jquery.counterup.js"></script>
  <!-- mixit slider -->
  <script type="text/javascript" src="/static/{{template_name}}/js/jquery.mixitup.js"></script>
  <!-- Add fancyBox -->        
  <script type="text/javascript" src="/static/{{template_name}}/js/jquery.fancybox.pack.js"></script>
  <!-- Wow animation -->
  <script type="text/javascript" src="/static/{{template_name}}/js/wow.js"></script> 

  <!-- Custom js -->
  <script type="text/javascript" src="/static/{{template_name}}/js/custom.js"></script>
    
  </body>
</html>